@import url('https://fonts.googleapis.com/css?family=Poppins');

.App{
  text-align: center;
  font-family:"Poppins",sans-serif;
}

.Emp{
  margin-left:auto;
  margin-right: auto;
  width: max-content;
}

.log{
  margin-left:auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

input[type=button]{
  background-color:#56baed;
  border:none;
  color:white;
  padding: 10px 20px ;
  border-radius: 5px 5px 5px 5px;
}

input[type=text],input[type=password]{
  padding: 8px 12px;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
}

